form {
  display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    button[type="submit"] {
    align-self: center;
    padding: 10px 5px;
    margin-top: 10px;
    background-color: #16a34a;
    color:white
  }
  h3 {
    text-align: center;
  }
}