form.daily-log {
  display: flex;
    justify-content: center;
    gap: 10px;
    button[type="submit"] {
    align-self: center;
    padding: 8px 24px; 
    margin-top: 10px;
  }
  h3 {
    text-align: center;
  }
}