.weekly-summary {
        align-items: baseline;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

h3 {
    text-align: center;
}

section.activity-date {
        display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}